<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechGear Store</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>TechGear Store</h1>
            <p>Welcome to TechGear Store where you can get all the electronics you want</p>
        </header>
        <div class="products">
            <div class="cards">Headphones- Rs.3500</div>
            <div class="cards">Keyboard- Rs.2500</div>
            <div class="cards">Mouse- Rs.1500</div>
            <div class="cards">SmartWatch- Rs.2000</div>
        </div>
    </div>

    <div class="chatbox">
        <div class="chat-header">Ask Me Anything</div>
        <div id="chat-log"></div>
        <div class="chat-input-area">
            <input type="text" placeholder="Enter Question Here!" id="user-input">
            <button onclick="SendMessage()">Send</button>
        </div>
    </div>
</body>
</html>